<!DOCTYPE HTML>

<head>
    <title>COVID-19 Questionaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">

        function valueChanged1() {
                $("#specificsup").show();

        }

        function valueChanged2() {
                $("#specificsup").hide();
        }

        function _fillin() {
            var name = document.getElementById("pname").value;
            var email = $("#pemail").val();
            var supporttype = $("#sup").val();
            var inside = $('#optionsRadiosInline1').prop('checked');
            var outside = $('#optionsRadiosInline2').prop('checked');
            var siso = $('#optionsRadiosInline3').prop('checked');
            var fifo = $('#optionsRadiosInline4').prop('checked');
            var symtoms = $('#optionsRadiosInline5').prop('checked');
            var symtoms2 = $('#optionsRadiosInline6').prop('checked');
            var result = "<br>Patient name: " + name + "<br>Email: " + email + "<br>Remain In Residence for last day: " + inside + " <br>Need Support: " + siso + "<br>Feeling have COVID-19 symptoms: " + symtoms;
            if (name == "" || email == "") {
                 alert("Your Username or Email is empty. OR You leave some radio empty");
                 return;
            }
            else if (inside == false && outside == false) {
                 alert("Your stay inside radio is not choose");
                 return;
            }
            else if (siso == false && fifo == false) {
                 alert("Your whether need support radio is not choose");
                 return;
            }
            else if (symtoms == false && symtoms2 == false) {
                 alert("Your whether have symptoms radio is not choose");
                 return;
            }
            else{
                $.ajax({
                    url: "/questionnaire?name=" + name + "&email=" + email + "&remainInResidence=" + inside + "&needSupport=" + siso + "&experienceSymptoms=" + symtoms + "&supportType=" + supporttype,
                    type: 'POST',
                    success: function (res) {
                        $("#status").html(result);
                    },
                    error: function (res) {
                        alert(JSON.stringify(res));
                    }
                });
            }
        }
        function _search() {
            var email = $("#searchemail").val();
            $.ajax({
                url: "/result?email=" + email,
                type: 'GET',
                success: function (res) {
                    $("#status").text(res);
                },
                error: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }
    </script>

    <style>
        body{
    background-color: whitesmoke;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0mm;

}

.box1{
    background-color:rgb(255, 224, 77);
    padding: 30px;
    text-align: center;

}

h1{
    background-color: cadetblue;
    padding: 50px;
    text-align: left(10px);
    font-size: 50px;
    margin: 0mm;
}

.instruction{
    background-color: lightgray;
    margin-top: 50px;
    padding:10px;
    text-align: center;


}

.AJAXbutton{
    padding-left: 85px;
}

.searchemail{
    padding-left: 85px;
}

.nameEmail{
    padding-left: 85px;
}

.q1{
    background-color: #e6e6e6;
    padding-left: 85px;
}

.q2{
    background-color: #f2f2f2;
    padding-left: 85px;
}

.q3{
    background-color: #e6e6e6;
    padding-left: 85px;
}

.vue{
    padding-left: 85px;
}

    </style>
</head>

<body>
 

<div class="box1">
    <label>Stay at home except for essential travel and follow the restrictions and public health measures.</label>
</div>

<h1>COVID-19 Self-Declare Form</h1>

<p class="instruction"> Instruction: If you are a return user try to update your status, by clicking the add/update button with the same account information (name, email) after you fill out the questionnaire again. The page will automatically cover your previous record with your newest questionnaire </p>


<div class="fillform" id="selfform">

    <p class="nameEmail">
        Name: <input type="text" id="pname" v-model="Name" />
        Email: <input type="text" id="pemail" v-model="Email" />
    </p>


    <div class="q1">
        <label>Since yesterday's questionnaire, have you remained inside you residence?</label>
        <br>
        <br>
        <label class="radio-inline">
            <input type="radio" id="optionsRadiosInline1" v-model="inside" v-bind:value="true" />Yes
        </label>
        <label class="radio-inline">
            <input type="radio" id="optionsRadiosInline2" v-model="inside" v-bind:value="false" />No
        </label>
    </div>


    <div class="q2">
        <label>Do you need any support to adhere to self-isolation?</label>
        <br>
        <br>

        <label class="radio-inline">
            <input type="radio" id="optionsRadiosInline3" onchange="valueChanged1()" v-model="support"
                   v-bind:value="true" />Yes
        </label>
        <label class="radio-inline">
            <input type="radio" id="optionsRadiosInline4" onchange="valueChanged2()" v-model="support"
                   v-bind:value="false" />No
        </label>

        <br>
        <br>

        <div id="specificsup" style="display: none;">
            <label>"what type of support do you need? (food/groceries, medications/prescriptions, pet care)</label>
            <input type="text" id="sup" placeholder="type of support" v-model="supway" /></p>
            <br>


        </div>
    </div>

    <div class="q3">
        <label>Are you experiencing any symptoms? (cough, fever, runny nose)</label>
        <br>
        <br>
        <label class="radio-inline">
            <input type="radio" id="optionsRadiosInline5" v-model="symptoms" v-bind:value="true" />Yes
        </label>
        <label class="radio-inline">
            <input type="radio" id="optionsRadiosInline6" v-model="symptoms" v-bind:value="false" />No
        </label>
    </div>
    <br>
    <div class="q3" style=font-size:20px>Your temporary Questionnaire result:</div>
    <div class="q3" v-html="fullResult"> </div>
    <br>
    <div class="vue">
        <button type="button" @click="add">Add/Update Questionnaire through VUE.js</button>
    </div>
</div>
<br>
<script type="text/javascript">

        var sq = new Vue({
            el: '#selfform',
            data: {
                Name: "",
                Email: "",
                inside: "",
                support: "",
                symptoms: "",
                supway: ""
            },
            methods: {
                add: function () {
                    let params = new URLSearchParams();
                    params.append("name", this.Name);
                    params.append("email", this.Email);
                    params.append("remainInResidence", this.inside);
                    params.append("needSupport", this.support);
                    params.append("experienceSymptoms", this.symptoms);
                    params.append("supportType", this.supway);
                    if (this.Name == "" || this.Email == "" || this.inside == null || this.support == null || this.symptoms == null) {
                        alert("Your Username or Email is empty. OR You leave some radio empty");
                        return;
                    }
                    else{
                        axios.post("/questionnaire", params).then((res) => {
                            var result = "<br>Patient name: " + this.Name + "<br>Email: " + this.Email + "<br>Remain In Residence for last day: " + this.inside + " <br>Need Support: " + this.support + "<br>Feeling have COVID-19 symptoms: " + this.symptoms;
                            $("#status").html(result);
                        }).catch(function (err) {
                            console.log(err);
                        })
                    }
              }
            },
            computed: {
                fullResult: function () {
                    return 'Your name is: '+ this.Name+ '<br> Your Email is: ' + this.Email + '<br>You remained inside you residence answer is: ' + this.inside + '<br>You need any support to adhere to self-isolation answer is:' + this.support + '<br>You experiencing any symptoms? answer is:' + this.symptoms;
                }
            }
        })
    </script>
<div class="AJAXbutton">
    <button type="button" onclick="_fillin()">Add/Update Questionnaire through AJAX</button>
</div>

<br>
<br>
<div class="searchemail" id="searchUser">
    <input type="text" v-model="userEmail" />
    <button @click="search">Search Email</button>
</div>

<script type="text/javascript">
        var su = new Vue({
            el: '#searchUser',
            data: {
                userEmail: ""
            },
            methods: {
                search: function () {
                    axios.get("/result", {
                        params: {
                            email: this.userEmail,
                        },
                    })
                        .then((res) => {
                            $("#status").text(res.data);
                        }).catch(function (err) {
                            console.log(err);
                        })
                }
            }
        })
    </script>
<p id="status"> </p>



</body>

</html>