<!DOCTYPE HTML>

<head>
    <title>COVID-19 Questionaire</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        function valueChanged1() {
                $("#specificsup").show();

        }

        function valueChanged2() {
                $("#specificsup").hide();
        }

        function _fillin() {
            var name = document.getElementById("pname").value;
            var email = $("#pemail").val();
            var supporttype = $("#sup").val();
            var inside = $('#optionsRadiosInline1').prop('checked');
            var siso = $('#optionsRadiosInline3').prop('checked');
            var symtoms = $('#optionsRadiosInline5').prop('checked');
            var result = "<br>Patient name: " + name + "<br>Email: " + email + "<br>Remain In Residence for last day: " + inside + " <br>Need Support: " + siso + "<br>Feeling have COVID-19 symptoms: " + symtoms;
            $.ajax({
                url: "/questionnaire?name=" + name + "&email=" + email + "&remainInResidence=" + inside + "&needSupport=" + siso + "&experienceSymptoms=" + symtoms + "&supportType=" + supporttype,
                type: 'POST',
                success: function (res) {
                    $("#status").html(result);
                },
                error: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }
        function _search() {
            var email = $("#searchemail").val();
            $.ajax({
                url: "/result?email=" + email,
                type: 'GET',
                success: function (res) {
                    $("#status").text(res);
                },
                error: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        }
    </script>

    <style>
body{
    background-color: white;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0mm;
}

.box1{
    background-color:rgb(255, 224, 77);
    padding: 30px;
    text-align: center;
}

h1{
    background-color: cadetblue;
    padding: 50px;
    text-align: left(10px);
    font-size: 50px;
    margin: 0mm;
}

.instruction{
    background-color: lightgray;
    margin-top: 50px;
    padding:10px;
    text-align: center;
}

.AJAXbutton{
    padding-left: 85px;
}

.searchemail{
    padding-left: 85px;
}

.q:nth-child(odd){
    padding-left: 85px;
    background-color: #f2f2f2;
}

.q:nth-child(even){
    padding-left: 85px;
    background-color: #e6e6e6;
}

.nameEmail{
    padding-left: 85px;
}

.vue{
    padding-left: 85px;
}

    </style>
</head>

<body>
 

<div class="box1">
    <label>Stay at home except for essential travel and follow the restrictions and public health measures.</label>
</div>

<h1>COVID-19 Self-Declare Form</h1>

<p class="instruction"> Instruction: If you are a return user try to update your status, by clicking the add/update button with the same account information (name, email) after you fill out the questionnaire again. The page will automatically cover your previous record with your newest questionnaire </p>


<div class="fillform" id="selfform">

    <p class="nameEmail">
        Name: <input type="text" id="pname" v-model="Name" />
        Email: <input type="text" id="pemail" v-model="Email" />
    </p>

<!--    <div class="q">-->
<!--        <label>Since yesterday's questionnaire, have you remained inside you residence?</label>-->
<!--        <br>-->
<!--        <br>-->
<!--        <label class="radio-inline">-->
<!--            <input type="radio" id="optionsRadiosInline1" v-model="inside" v-bind:value="true" />Yes-->
<!--        </label>-->
<!--        <label class="radio-inline">-->
<!--            <input type="radio" id="optionsRadiosInline2" v-model="inside" v-bind:value="false" />No-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="q">-->
<!--        <label>Are you experiencing any symptoms? (cough, fever, runny nose)</label>-->
<!--        <br>-->
<!--        <br>-->
<!--        <label class="radio-inline">-->
<!--            <input type="radio" id="optionsRadiosInline5" v-model="symptoms" v-bind:value="true" />Yes-->
<!--        </label>-->
<!--        <label class="radio-inline">-->
<!--            <input type="radio" id="optionsRadiosInline6" v-model="symptoms" v-bind:value="false" />No-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="q">-->
<!--        <label>Do you need any support to adhere to self-isolation?</label>-->
<!--        <br>-->
<!--        <br>-->
<!--        <label class="radio-inline">-->
<!--            <input type="radio" id="optionsRadiosInline3" onchange="valueChanged1()" v-model="support"-->
<!--                   v-bind:value="true" />Yes-->
<!--        </label>-->
<!--        <label class="radio-inline">-->
<!--            <input type="radio" id="optionsRadiosInline4" onchange="valueChanged2()" v-model="support"-->
<!--                   v-bind:value="false" />No-->
<!--        </label>-->
<!--    </div>-->

    <checkbox-question v-for="item in questions" v-bind:question="item"></checkbox-question>

    <div class="q" id="specificsup" style="display: none;">
        <br>
        <label>What type of support do you need? (food/groceries, medications/prescriptions, pet care)</label>
        <input type="text" id="sup" placeholder="type of support" v-model="supway" /></p>
        <br>
    </div>

    <br>
    <br>
    <div class="vue">
        <button type="button" @click="add">Add/Update Questionnaire through VUE.js</button>
    </div>

</div>
<br>
<script type="text/javascript">
        Vue.component('checkbox-question', {
            props: ['question'],
            template: '<div class="q"><label>{{ question.title }}</label>'
                + '<br><br>'
                + '<label class="radio-inline"><input type="radio" id="{{ question.id1 }}" v-model="inside" v-bind:value="true" />Yes</label>'
                + '<label class="radio-inline"><input type="radio" id="{{ question.id2 }}" v-model="inside" v-bind:value="false" />No</label>'
                + '</div>'
                + '<br><br>'
        })

        var sq = new Vue({
            el: '#selfform',
            data: {
                questions: [
                    { title: 'Since yesterday\'s questionnaire, have you remained inside you residence?',
                        id1: 'optionsRadiosInline1',
                        id2: 'optionsRadiosInline2' },
                    { title: 'Are you experiencing any symptoms? (cough, fever, runny nose)',
                        id1: 'optionsRadiosInline5',
                        id2: 'optionsRadiosInline6' },
                    { title: 'Do you need any support to adhere to self-isolation?',
                        id1: 'optionsRadiosInline3',
                        id2: 'optionsRadiosInline4' }
                ],
                checkboxQuestions: ["", ""],
                checkboxIds: ["", "", "", "", "", ""],
                Name: "",
                Email: "",
                inside: "",
                support: "",
                symptoms: "",
                supway: ""
            },
            methods: {
                add: function () {
                    let params = new URLSearchParams();
                    params.append("name", this.Name);
                    params.append("email", this.Email);
                    params.append("remainInResidence", this.inside);
                    params.append("needSupport", this.support);
                    params.append("experienceSymptoms", this.symptoms);
                    params.append("supportType", this.supway);
                    axios.post("/questionnaire", params).then((res) => {
                        var result = "<br>Patient name: " + this.Name + "<br>Email: " + this.Email + "<br>Remain In Residence for last day: " + this.inside + " <br>Need Support: " + this.support + "<br>Feeling have COVID-19 symptoms: " + this.symptoms;
                        $("#status").html(result);
                    }).catch(function (err) {
                        console.log(err);
                    })
                }
            }
        })
    </script>
<div class="AJAXbutton">
    <button type="button" onclick="_fillin()">Add/Update Questionnaire through AJAX</button>
</div>

<br>
<br>
<div class="searchemail" id="searchUser">
    <input type="text" v-model="userEmail" />
    <button @click="search">Search Email</button>
</div>

<script type="text/javascript">
        var su = new Vue({
            el: '#searchUser',
            data: {
                userEmail: ""
            },
            methods: {
                search: function () {
                    axios.get("/result", {
                        params: {
                            email: this.userEmail,
                        },
                    })
                        .then((res) => {
                            $("#status").text(res.data);
                        }).catch(function (err) {
                            console.log(err);
                        })
                }
            }
        })
    </script>
<p id="status"> </p>

</body>

</html>